
$headerbgcolor:#1C1E53;
$sec1bgcolor:#F4F6FC;
$sec2Hovercolor:#2405F2;
$sec1Txtcolor:#282938;
$headerBorderColor:#F4F6FC33;
$headertextColor:#BBBBCB;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    max-width: 1280px;
}

header {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 150px;
    background: #1c1e53;
    color: #fff;
    #menu{
      display: none;
      font-size: 30px;
    }
    h1 {
      font-size: 24px;
    }
    .nav-links {
      display: flex;
      align-items: center;
      gap: 40px;
  
      a {
        color: #bbbbcb;
        text-decoration: none;
        transition: 0.2s linear;
      }
      a:hover {
        color: #fff;
      }
      button {
        padding: 14px 35px;
        border-radius: 25px;
        background: #1c1e53;
        border: 1px solid #f4f6fc33;
        color: #fff;
        cursor: pointer;
      }
    }
  }

.section_3{
    width: 100%;
    height:712px; 
    background-color:#F4F6FC;
    color: $sec1Txtcolor;
}
.section_4{
    width: 100%;
    height: 489px; 
    background-color: $headerbgcolor;
    color: white;
}
.sec_4{
    display: flex;
    padding: 100px 0;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
  

    h1{
        font-size: 32px;
    }
    
}
.footer_left{
    width: 630px;
    height: 345px;
    
    h1{
        font-size: 32px;
        margin: 10px 0;
    }
    p{
        font-size: 16px;
        line-height: 16px;
        padding: 10px 0;
    }
    .sec_4_EMAIL{
        padding: 20px;
        background-color: #FCD980;
        display: flex;
        justify-content: start;
        gap: 40px;
        color: black;
    }
        
}
.footer_rig{

    width: 620px;
    height: 345px;
    h1{
        font-size: 32px;
        margin: 10px 0;
    }
    .sec_4_social{
        display: flex;
        gap: 20px;
        margin: 10px 0;
        img{
            width: 20px;
            background-color: white;
        }
    }
}